body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.background_frame {
    position: relative;
    border: 1px solid black;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bgimg {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url("/HTML/zuzu/images/vacation.jpg");
    background-size: 120% 100%;
}

.bgtitle {
    position: relative;
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 140px;
    font-weight: 700;
    background-color: #f8eceb;
}

.under_title {
    background-color: white;
    position: absolute;
    font-size: 10px;
    width: 50%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 2%;
}

.under_title .bracket {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.header {
    top: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.main_title {
    padding-left: 30px;
}

.main_menu nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
}

.search {
    padding-right: 30px;
    display: flex;
}